<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title>qrcode server - [% version %]</title>
    <style>
        #Container {
            text-align: center;
            width: 640px;
            margin: auto;
        }
        #content {
            text-align: left;
        }
        footer {
            text-align: left;
            font-size: xx-small;
        }
    </style>
</head>
<body>
    <div id="Container">
        <h1>qrcode server - [% version %]</h1>
        <div id="content">
            <form action="/" method="get">
                <select name="s">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7" selected="selected">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                </select><br />
                <textarea name="q" rows="5" cols="50"></textarea>
                <input type="submit" value="render" />
            </form>
            <a href="javascript:location.href=location.href+'?q='+encodeURIComponent(location.href)">bookmarklet</a>

            [% IF q %]
                <div><img src="/img?q=[% q | uri %]&amp;s=[% s | uri %]" /><br />[% q %]</div>
            [% END %]
        </div>
        <hr />
        <footer>
            This is qrcode rendering server.
        </footer>
    </div>
</body>
</html>
